* {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: HelveticaNeueCyr;
  background-color: black;
  height: 10000px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 100;
}

.header-wrapper {
  max-width: 1440px;
  padding: 34px 120px 4px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.button-login {
  width: 119px;
  height: 40px;
  background: rgba(16, 16, 24, 0.7);
  border: 1px solid #FFD600;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s ease all;
}

.button-login:hover {
  background: rgba(255, 214, 0, 0.9);
  border-color: black;
  transition: 0.2s ease all;
}

.button-login:hover .button-login__text {
  color: white;
}

.button-login__text {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 214, 0, 1);
}

.company-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.company-wrapper__title {
  margin-left: 10px;
  font-family: MADE Tommy Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 34px;
  color: white;
  text-shadow: 0 0 6px black;
}

.block-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 120px;
  box-sizing: border-box;
}

.main-block {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-block__stats {
  /* height: 750px; */
  /* padding: 191px 0px 0; */
  position: relative;
  left: 0px;
}

.block-stats__wrapper {
  padding: 191px 0 102px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block-stats__item {
  /* margin: 0 0 50px; */
}

.block-stats__wrapper::after {
  content: "";
  display: block;
  width: 138px;
  height: 100%;
  position: absolute;
  right: 70px;
  bottom: 0;
  z-index: -1;
  background-image: url('./../images/rectangles.svg');
}

.stats__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stats__bglogo {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
}

.stats-title {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 100%;
  text-align: center;
  color: white;
}

.stats-title__big {
  font-size: 59px;
  line-height: 100%;
  position: relative;
  top: 15px;
  left: 1px;
}

.stats-button__wrapper {
  margin-top: 112px;
}

.stats-button {
  width: 320px;
  height: 70px;
  background: #FFD600;
  border: 1.5px solid #FFD600;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease all;
}

.stats-button:hover {
  cursor: pointer;
  background: rgba(255, 214, 0, 0);
  transition: 0.2s ease all;
}

.stats-button:hover .stats-button__text {
  color: white;
}

.stats-button__text {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 550;
  font-size: 29px;
  line-height: 29px;
  text-align: center;
  color: #333333;
}

.stats-numbers__list {
  /* display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-gap: 32px; */
  max-width: 740px;
  display: flex;
  width: 100%;
  margin-top: 111px;
  justify-content: space-between;
  justify-items: center;
}

.stats-numbers__item {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}

.stats-numbers__list>.stats-numbers__item:first-child {
  left: -3px;
}

.stats-numbers__list>.stats-numbers__item:last-child {
  right: 7px;
}

.stats-numbers__item::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(255, 214, 0, 1);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 214, 0, 1) 50%);
  position: absolute;
  bottom: -19px;
  left: 3px;
}

.stats-number {
  position: relative;
  letter-spacing: 5px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 700;
  font-size: 65.1952px;
  line-height: 64px;
  color: #FFD600;
}

.stats-info {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -8px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
}

.stats-description {
  position: relative;
  left: 3px;
  top: 1px;
}

.stats-number__power {
  position: relative;
  right: -3px;
  top: -2px;
  letter-spacing: inherit;
  text-transform: uppercase;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #FFD600;
}

.main-block__advantages {
  background: white;
  color: black;
}

.block-header {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 125%;
  letter-spacing: -0.4px;
  text-align: center;
  color: #333333;
}

.heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
}

.tire {
  position: relative;
  top: -1px;
  font-size: 110%;
}

.block-advantages__wrapper {
  padding: 94px 120px 81px;
}

.block-advantages__wrapper .block-header__wrapper {
  max-width: 698px;
  margin: 0 auto;
}

.block-description {
  margin-top: 33px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 145%;
  color: #333333;
}

.logos-wrapper {
  margin-top: 53px;
  display: flex;
  flex-direction: column;
}

.logos-list {
  max-width: 698px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logos-list__description {
  margin-top: 8px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 145%;
  text-align: center;
  color: #333333;
}

.tiktok-logo {
  position: relative;
  top: -6px;
}

.scheme-column__title {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
  text-transform: uppercase;
  color: #333333;
}

.scheme-column__description {
  margin-top: 39px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 145%;
  color: #333333;
}

.scheme-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.scheme-block__wrapper::after {
  /* content: ""; */
  display: block;
  height: 18px;
  width: 18px;
  background: url('./../images/scheme-arrow.svg');
  background-size: cover;
  position: absolute;
  bottom: -26px;
  left: 45.2%;
  transform: rotate(135deg);
}

.scheme-block__wrapper::before {
  /* content: ""; */
  display: block;
  height: 18px;
  width: 18px;
  background: url('./../images/scheme-arrow.svg');
  background-size: cover;
  position: absolute;
  top: -36px;
  left: 45.75%;
  transform: rotate(135deg);
}

.scheme-block__last::after {
  content: none;
}

.scheme-block {
  width: 100%;
  height: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFD600;
  border-radius: 7px;
}

.scheme-block__title {
  margin-top: 11px;
  position: relative;
  left: 1px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}

.scheme-block__normal {
  position: relative;
  top: -3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.scheme-line__reversed img {
  transform: scale(-1, 1);
}

.scheme-line__reversed {
  /* transform: scale(1, -1); */
}

.scheme-wrapper {
  padding-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scheme-column__text {
  max-width: 240px;
  margin-top: 35px;
}

.column-text_2 {
  position: relative;
  /* left: 46px; */
}

.scheme-line {
  max-width: 440px;
  width: 70%;
  min-height: 75px;
}

.scheme-line__1 {
  grid-area: 1/1/2/4;
}

.scheme-line__2 {
  grid-area: 3/1/4/4;
  margin-top: -10px;
}

.scheme-line__3 {
  grid-area: 5/1/6/4;
  margin-top: -17px;
  margin-bottom: -8px;
}

.scheme-wrapper__graph {
  width: 100%;
}

.graph {
  grid-row-gap: 20px; /* 27 */
  /* max-width: 698px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-logo {
  grid-area: 4/1/5/4;
  margin-top: -17px;
}

.blocks {
  width: 100%;
  max-width: 630px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-help {
  padding: 160px 0 150px;
  /* background-color: black; */
  position: relative;
}

.help-bg {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.help-title {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 105.19%;
  text-transform: uppercase;
  color: #FFD600;
}

.help-paragraph {
  margin-top: 20px;
  display: block;
  letter-spacing: -0.6px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.help-description {
  margin-top: 23px;
  display: block;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 145%;
  color: #FFFFFF;
}

.block-wrapper__help {
  display: flex;
  justify-content: space-between;  
}

.image-wrapper {
  max-width: 708px;
  width: 100%;
  height: 242px;
  display: flex;
  margin-top: 15px;
  align-items: flex-end;
  position: relative;
  border-radius: 8px;
  background: #FFD600;
}

.image-wrapper__questions {
  position: absolute;
  top: 4px;
  left: 9px;
}

.image-wrapper__manager {
  position: relative;
  bottom: -20px;
  left: 20px;
}

.image-wrapper__phone {
  position: relative;
  bottom: -9px;
  left: 35px;
}

.text-wrapper {
  max-width: 450px;
}

.tg-link {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tg-link__logo {
  max-width: 41px;
  max-height: 41px;
}

.tg-link__text {
  margin-left: 10px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 125%;
  color: #2CA3D6;
}

.block-networks {
  background: white;
  padding: 77px 0 97px;
}

.block-wrapper__networks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.networks-title {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.networks-description {
  max-width: 698px;
  display: block;
  margin-top: 31px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #333333;
}

.networks-list {
  width: 100%;
  /* height: 168px; */
  margin-top: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.network-logo__wrapper {
  min-width: 140px;
  min-height: 140px;
  width: 167px;
  height: 167px;
  background: #F2F2F2;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.network-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.network-name {
  display: block;
  margin-top: 16px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #000000;
}

.network-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.network-logo {
  width: 100%;
  height: 100%;
}

.yandex-logo {
  max-width: 41px;
  max-height: 85px;
}

.vk-logo {
  max-width: 88px;
  max-height: 51px;
}

.google-logo {
  max-width: 84px;
  max-height: 86px;
}

.my-logo {
  max-width: 102px;
  max-height: 59px;
}

.market-logo {
  max-width: 89px;
  max-height: 42px;
}

.draw {
  display: flex;
  /* align-items: center; */
  margin-top: 86px;
  background: #F5F5F5;
}

.draw-text {
  margin-left: 4.6%;
  padding: 44px 0;
}

.draw-title {
  letter-spacing: -0.5px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
  text-transform: uppercase;
  color: #333333;
}

.draw-description {
  margin-top: 22px;
  padding-right: 11%;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 145%;
  color: #333333;
}

.draw-button {
  height: 40px;
  width: 242px;
  margin-top: 34px;
  background: #FFD600;
  border: 2px solid #FFD600;
  border-radius: 2px;
  color: black;
  cursor: pointer;
  transition: 0.2s ease all;
}

.draw-button:hover {
  background: transparent;
  transition: 0.2s ease all;
  cursor: pointer;
}

.draw-button__text {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}